exported/
summon_night.rep/
summon_night.repbak/
summon_night.gpr
summon_night.gpr.bak
summon_night.lock
summon_night.lock~
romhack/output/
romhack/rom/
romhack/rom.xml
romhack/config.json
romhack/exported_glyphs
romhack/pic_output
romhack/pic_output*
!romhack/pic_output_translated
romhack/test_*
__pycache__/
*.pyc
logs/